<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/Css/Style_layout.css" rel="stylesheet" />
    <link href="~/Content/Css/Style.css" rel="stylesheet" />
    <script>
        $(function () {
            var current = location.pathname;
            //$('.submenu ul li a').removeClass('active')
            $('.menu ul li a').each(function () {
                var $this = $(this);
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.addClass('active')
                }
            })
        })
        $(function () {
            var current1 = location.pathname;
            $('#thongtin ul li a').removeClass('active')
            $('#thongtin ul li a').each(function () {
                var $this = $(this);
                if ($this.attr('href').indexOf(current1) !== -1) {
                    $this.addClass('active')
                    $('.menu > ul li.a').addClass('active')
                    $('.submenu > ul li .b').addClass('active')
                }
            })
        })
        //$(function () {
        //    var current = location.pathname;
        //    $('.menu ul li').removeClass('active')
        //    $('.menu ul li a').each(function () {
        //        var $this = $(this);
        //        if ($this.attr('href').indexOf(current) !== -1) {
        //            //$this.addClass('active')
        //            $this.parents(".menu > ul > li").addClass('active')
        //        }
        //    })
        //})
    </script>
</head>
<body>
    <div>
        <div class="top container-fluid" align="center">
            <div><img style="width: 100%; height:100%;" src="~/Content/Images/banner_IHRM.jpg" alt="image banner" /></div>
            <div class="menu">
                <ul>
                    <li class="active">
                        <a href="/Employee/ThongTinCaNhan">Hồ sơ cá nhân</a>
                        <div class="submenu">
                        </div>
                    </li>
                    <li>
                        <a href="/ChamCong/BangChamCong_NhanVien">Bảng chấm công</a>
                    </li>
                    <li>
                        <a href="/BangLuong/BangTinhLuong_NhanVien">Bảng tính lương</a>
                    </li>
                    <li>
                        <a href="/KhenThuongKyLuat/ThanhTichThiDua">Thành tích thi đua</a>
                    </li>
                    @*<li>
                        <a href="#">Đánh giá</a>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="content container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10">
                                <br />
                                <div class="card">
                                    <div class="card-header" style="text-align: center;">
                                        <b>@Session["ten"]</b>
                                    </div>
                                    <img src="~/Content/Images/@Session["hinhanh"]" class="card-img-bottom" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" id="thongtin">
                            <div class="col-lg-10">
                                <ul>
                                    <li class="active"><a href="/Employee/ThongTinCaNhan">Thông tin cá nhân</a></li>
                                    <li><a href="/Employee/ChiTietLienLac">Chi tiết liên lạc</a></li>
                                    <li><a href="#">Quan hệ người thân</a></li>
                                    <li><a href="#">Công việc</a></li>
                                    <li><a href="/Employee/MucLuong">Mức lương</a></li>
                                    <li><a href="#">Trình độ chuyên môn</a></li>
                                    <li><a href="/Employee/TaiKhoanCaNhan">Tài khoản cá nhân</a></li>
                                    <li><a href="/Login/Login">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    @RenderBody()
                </div>
            </div>  
        </div>
    </div>
    <footer>
        <div class="footer" style="text-align:center; margin-top:50px;">Vui lòng không lưu mật khẩu</div>
        <div class="footer" style="text-align:center; margin-bottom:50px;">	&#64; 2019-2020 | <u>Hướng dẫn sử dụng</u> | <u>Phần mềm nhân sự</u> | <u>Phần mềm công việc</u></div>
    </footer>
</body>
</html>
